/* removes the tab separators */
.tabbrowser-tab::after, .tabbrowser-tab::before {
	border-left: 0px !important;
}

/* removes the close tab icon unless it's hovered */
#tabbrowser-tabs .tabbrowser-tab:not(:hover) .tab-close-button {
	display: none !important;
}

/* removes the border from the urlbar and searchbar */
#urlbar, .searchbar-textbox {
	border: 0px !important;
}

/* removes the border from the toolbar */
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
	border: 0px !important;
}

/* removes the border from the navigator toolbox */
#navigator-toolbox::after { 
	border: 0px !important;
}

/* removes border of tabs (over for current, under for others) */
#navigator-toolbox:-moz-lwtheme {
	--tabs-border-color: transparent !important;
}

/* makes tab line bigger, down of the tab and white */
.tab-line {
	height: 7px !important;
	margin-top: 29px;
	background-color: #fff !important;
}

/* removes the background or tabs */
:root { 
    --tabs-border: transparent !important;
    --toolbar-bgcolor: transparent !important;
    --toolbar-bgimage: none !important;
}

/* tab text color and weight */
.tabbrowser-tab {
	font-weight: 900;
	color: #fff !important;
}

/* color of menu bar and tab bar */
#toolbar-menubar, #TabsToolbar, #navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
	background-color: none !important;
	background-image: linear-gradient(90deg, #02a2ff, #01f282 33%, #fe7235 66%, #fe0070);
}

/* color of the navigation bar */
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
	background-image: linear-gradient(90deg, #02a2ff, #01f282 33%, #fe7235 66%, #fe0070) !important;
	background-color: transparent !important;
}

/* color of the url bar and search bar */
#urlbar, #searchbar > * {
	background-color: #0097a7 !important;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa');
#navigator-toolbox {
	font-family: Segoe UI !important;
}